section#start {
    /*font-size: 0.5em;*/
     /*REMOVED center center fixed FROM BACKGROUND ARGUMENTS*/
    background: url(imgs/bg1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
section#second {
  background: url(imgs/goldengate.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


section#third {
  background: url(imgs/idea.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

section#third p {
  font-size: 0.7em;
}

div.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}


section#fourth {
  background: url(imgs/control.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
